
body{
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.row1 {
    height: 800px;
}
.centered{
  align-self: center;
}

.centered .fashion{
    font-size: 23px;
    color: #fff;
    text-shadow: 2px 2px 2px;
}
.shop-now{
    width: 150px;
    font-size: 15px;
    color:#eb5b1e;
    font-weight: 500;
    border-radius:0 ;
    background-color:#ffffff2e;
}
.shop-now:hover{
    background-color: #eb5b1e;
    color:#fff;
    font-size: 15px;
    border: 1px solid #eb5b1e;
}
.centered{
    position: absolute;
    width: 100%;
    text-align: center;
}
.centered .shose{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 3px 3px 3px;
    color: #721c24;
    
}
.centered .shosee{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 3px 3px 3px;
    
}
.centered .shop-now1{
    width: 100px;
    font-size: 15px;
    color:#eb5b1e;
    font-weight: 500;
    border-radius:0 ;
    background-color:#ffffff2e;
}
.centered {
    position: absolute;
    top: 3%;
}
.shop-now1:hover{
    background-color: #eb5b1e;
    color:#fff;
    font-size: 15px;
    border: 1px solid #eb5b1e;
}
.centered-hover {
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s ease 0s;
    
}
.centered-hover:hover {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
.list>img{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
.list{
    overflow: hidden;
}
         
.list:hover img{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.5);
    -ms-transform: scale(1.1,1.1);
}

// Css Trang About
.about-right{
    background-color: #FFE4C4;
}
.about-text{
    width: 80%;
}
.about-us{
    font-family: 'Lato', sans-serif;
    font-size: 43px;
    padding-top: 20px;
    color: red;
    color:black;
    font-weight:bold;
}
.shoes-fs{
    letter-spacing: 10px;
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.lorem{
    color: black;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 25px;
}
.qty{
    width: 20%;
}
.title-cart{
    font-weight: bold;
    padding: 13px 0px;
    font-size: 30px;
}
.continue{
    border-radius:0;
    font-weight: bold; 
    font-size: 14px;
    color: unset;
    border:1px solid #ccc;
    background-color:#fff;
}
.continue:hover{
    background-color:#eb5b1e;
}
/* Css phần bottom trang shopping cart */
.content-bottom{
    background-color:#ededed;
}
.est{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.card-header{
    border-radius: 0;
    border: 1px solid #eb5b1e;
    background-color:#eb5b1e;
    font-weight:bold; 
    color:#fff;
    letter-spacing: 2px;
    font-size: 14px;
    
}
.card-footer{
    border-radius: 0;
    border: 1px solid #000;
    background-color:#000;
    font-weight:bold; 
    color:#fff;
    letter-spacing: 2px;
    
}
.card-footer a{
    color: #fff;
    text-decoration: none;
}
.card-footer a:hover{
    color: #eb5b1e;
    
}
.card{
    border: 0;
}
.card-body{
    background-color: #ededed;
}
.total{
    font-size: 13px;
    font-weight: bold;
}
.card-text{
    background-color: #ededed;

}
/* css khi hover vào home */
/* .thumbnail {
    width: 300px;
    height: 200px; 
    overflow: hidden; 
    border: 1px solid #e5e5e5; 
} */
/* css trang contact */
.please{
    
    font-size: 25px;
    color: #eb5b1e;
    font-weight: bold;
}
.submit .btn{
    background-color:#eb5b1e; 
    border-radius: 0;
}

.contact-form{
    max-width: 900px;
    margin: 0 auto;
}